.leader-board {
    width: 100%;
    margin-bottom: 2rem;
}

.leader-board__table {
    width: 100%;
    border-radius: 8px;
}

.table-header {
    background-color: var(--ternary-clr);
}

.table-body {
    background-color: var(--secondary-clr);
}

.leader-board__table td,
.leader-board__table th {
    text-transform: lowercase;
    border: 2px solid var(--ternary-clr);
    border-radius: 8px;
    text-align: center;
}

.pie-chart {
    width: 40%;
    height: 30%;
    margin: auto;
    margin-bottom: 2rem;
}