.leader-board {
    width: 100%;
    margin-bottom: 2rem;
}

.leader-board__table {
    width: 100%;
    border: 2px solid var(--ternary-clr);
    border-collapse: collapse;
}

.table-header {
    background-color: var(--ternary-clr);
}

.table-body {
    background-color: var(--secondary-clr);
}

.leader-board__table td,
.leader-board__table th {
    border: 2px solid var(--ternary-clr);
    text-align: center;
}